/* animation  */
@keyframes liftoff {
    0% {
        transform: rotate(0deg) translate(0px, 0px);
    }

    12% {
        transform: rotate(45deg) translate(0px, -20px);
    }

    35%,
    100% {
        transform: translate(75vw, 0px);
    }
}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes expandWidth {
    0% {
        width: 50px;
        transform: translateY(-20px);
    }

    10% {
        transform: translateY(0px);
    }

    60% {
        transform: translateY(0px);
    }

    100% {
        width: 100%;
    }
}

@keyframes showHidden {
    0% {
        transform: translateY(-30px);
        opacity: 0;
    }

    40% {
        opacity: 0;
    }

    60% {
        opacity: 0;
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes swing {
    0% {
        transform: translate(0, 0);
    }

    25% {
        transform: translateY(5px);

    }

    50% {
        transform: translateY(-5px);
        color: rgb(125, 125, 125);
    }

    75% {
        transform: translateY(5px);
    }

    100% {

        transform: translateY(0px);
    }
}


@keyframes balancing {
    0% {
        transform: translate(0, 0);
    }

    25% {
        transform: translateX(5px);
    }

    50% {

        transform: translateX(-5px);
    }

    75% {
        transform: translateX(5px);
    }

    100% {

        transform: translateX(0px);
    }
}