@media screen and (max-width: 1200px) {
    .desktopMenu {
        display: none !important;
    }

    .mobileMenu {
        display: flex !important;
    }

    .hideMenu {
        display: none !important;
    }
}

@media screen and (max-width: 768px) {

    .flexor-3 {
        width: 50%;
    }

    .flexor-4 {
        width: 33%;
    }

    .flexor-5 {
        width: 25%;
    }
}

@media screen and (max-width: 600px) {

    .flexor-2, .flexor-3, .flexor-4, .flexor-5 {
        width: 100%;
    }

    .headerTitle {
        text-align: center !important;
        text-align: -webkit-center !important;
    }

    .blue-gradient {
        background-image: radial-gradient(closest-side at 50% 70%, #413fbc -15%, transparent 106%);
    }

    .flexor-forced-2 {
        width: 50% !important;
    }
}